@font-face {
    font-family: 'aniket';
    src: url('./fonts/Norse-Bold.otf') format('woff');
  }

body{
    padding: 0;
    margin: 0;
    height: 100dvh;
    background-color: black;
    overflow: auto;
}
.bg-img{
    width: 50%; /* Adjust as needed for half the screen */
    height: 100%; /* Full height of the viewport */
    overflow: hidden;
    position: fixed;
    left: 20vh;
}

.upper-img{
    position: fixed;
    left: 15%;
    overflow: hidden;
    top: 30%;
    opacity: 0.9;
    background-color: rgb(72, 72, 72);
}
.upper-img p{
    color: white;
    font-size: 100px; /* Adjust the font size */
    position: fixed;
    top: 20%;
    left: 20%;
    font-family: 'aniket';
    position: fixed;
}

.bg-img img {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
  }

.white-area{
    position: fixed;
    top: 0;
    left: 74vh;
    width: 45%; 
    height: 100%;
    background-color: rgb(237, 237, 237);
    overflow: auto;
    text-wrap: wrap;
}
.white-area p{
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    font-weight: 700;
    padding-left: 45px;
    margin-top: 170px;
    padding-right: 230px;
    line-height: 30px;
    word-spacing: 2px;
    word-wrap: break-word;
}

.form-sec{
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
}
.name{
    display: flex;
    gap: 40%;
}
.contact{
    margin-top: 20px;
    display: flex;
    gap: 40%;
}
.pass{
    margin-top: 20px;
    display: flex;
    gap: 40%;
}

button{
    margin-left: 30px;
    width: 22%;
    color: white;
    background-color: rgb(55, 106, 23);
    border-radius: 8px;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
}

.footer{
    margin-top: 30px;
    font-weight: 600;
}

.footer-input{
    margin-top: 30px;
    margin-left: 30px;
}
